<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="home_cont">
        <h1>WELCOME</h1>
        <div>
            <p>Find a date with a Mate</p>
            <a href="/login">Login</a>
            <a href="/register">Sign Up</a>
        </div>
        
    </div>
</body>
</html>