<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="POST">
        <input type="email" name="log_mail" placeholder="Email ID:">
        <input type="password" name="log_pass" placeholder="password:">
        <input type="submit" name="submit">
    </form>
</body>
</html>