<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div>
        <div>
            <img src="" alt="User Photo">
        </div>
        <div><h1>Name</h1></div>
        <div><h1>place , India</h1></div>
        <div>
            <div>
                contact:
            </div>
            <div>
                <p> 123
                </p>
            </div>

            <div>
                <div>
                    Address:
                </div>
                <div>
                    <p>
                        harish is the great in the world no one can beat him he is purely concentrating on competative coding.
                    </p>
                </div>
            </div>
        </div>
        <div></div>
        
        
        

    </div>
</body>
</html>