body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("tc_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.card {
    width: 30%;
    padding: 20px 40px;
    margin: auto;
    background-color:  #FB4570;
    border-radius: 5px;
}


.img_holder {
    height: 150px;
    border-bottom: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    position: relative;
    border-width: 20%;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.img_holder img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid;
    border-image-slice: 0;
    border-width: 5px;
    position: absolute;
    bottom: -75px;
    left: 50%;
    transform: translateX(-50%);
    border-image-source: linear-gradient(to right bottom, #743ad5, #d53a9d);
    background-image: linear-gradient(to right bottom, #743ad5, #d53a9d);
}


.info {
    margin-top: 90px;
}

.mid {
    margin: 25px 0;
    text-align: center;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.mid p {
    width: 100%;
}



.end {
    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end_ele {
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(#743ad5, #d53a9d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ext {
    background: -webkit-linear-gradient(#743ad5, #d53a9d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ext img {
    margin-right: 15px;
}